################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BotMeetingFfeedbackCS/Properties/launchSettings.json
